/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Press+Start+2P&family=Shrikhand&display=swap");

/* GLOBAL */
:root {
  --honeydew: #f1faee;
  --imperial-red: #e63946;
  --celadon-blue: #457b9d;
  --powder-blue: #a8dadc;
  --charcoal: #404e5c;
  --charcoal: #1d3557;
  --prussian-blue: #1d3557;
  --outrageous-orange: #fc7a57;
  --gradient: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--gradient);
  font-family: sans-serif;
}

#body-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* HEADER */
#header-container {
  color: var(--honeydew);
  margin-bottom: 15vh;
  font-size: 3rem;
  font-family: "Shrikhand", cursive;
  color: var(--celadon-blue);
  text-shadow: 5px 5px var(--prussian-blue);
  text-align: center;
}

#subhead {
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  color: var(--honeydew);
  font-size: 1.5em;
  text-shadow: 2px 2px var(--charcoal);
}

/* QUOTE */
#quote-box {
  padding: 35px;
  width: 50%;
  border-radius: 5px;
}

#quote-container {
  margin-bottom: 30px;
}

#text {
  color: var(--charcoal);
  font-size: 3rem;
  padding-bottom: 10px;
  min-height: 15vh;
  text-shadow: 1px 1px var(--honeydew);
}

#text::before {
  font-family: FontAwesome;
  content: "\f10d";
  display: inline-block;
  padding-right: 20px;
  vertical-align: middle;
  font-weight: 900;
}

#text::after {
  font-family: FontAwesome;
  content: "\f10e";
  display: inline;
  padding-left: 20px;
  vertical-align: middle;
  font-weight: 900;
}

#author {
  color: var(--imperial-red);
  /*   text-align: right; */
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
}

#author::before {
  font-family: FontAwesome;
  content: "\f007";
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 900;
}

/* BUTTONS */
#button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  color: var(--honeydew);
  background-color: var(--prussian-blue);
  border-radius: 6px;
  border: 0px solid #ffffff;
  padding: 13px 16px 12px 16px;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn:hover {
  background: var(--celadon-blue);
}
